* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    overflow: hidden;
}

.playground {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Bilder/Background_loop_ohne_Begrenzung.jpg);
    background-size: cover;
}

.rand {
    position: absolute;
    background-image: url(Bilder/Rand.png);
    width: 1.3vw;
    height: 100vw;
}

.rand_links {
    left: 20vw;
}

.rand_rechts {
    right: 20vw;
}

.player {
    position: absolute;
    width: 120px;
    top: 150px;
    z-index: 2;
}

.playerbody {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 190px;
    background-color: transparent;
    border-radius: 15px;
}

.player_left {
    transform: scaleX(-1);
}

.stein {
    position: absolute;
    width: 35px;
}

.tor1 {
    position: absolute;
    height: 100px;
}

.tor2 {
    position: absolute;
    height: 100px;
}

.stern {
    position: absolute;
    width: 40px;
}