* {
    margin: 0;
    padding: 0;
}

.body {
    overflow: hidden;
}

.playground {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Bilder/Background.jpg);
    background-size: cover;
}

.player {
    position: absolute;
    width: 10vw;
}

.stein {
    position: absolute;
    width: 35px;
    height: 28px;
    background-image: url(Bilder/Stein.png);
    background-size: contain;
}

.tor1 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
}

.tor2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}