@font-face {
    font-family: 'Pilsner';
    src: url('Pilsner Regular.ttf');
  }

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    /* aspect-ratio: 16 / 9; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.splashscreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Bilder/Splashscreen.jpg);
    background-size: cover;
    background-position: center;
}

.anleitungscreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Bilder/anleitung-screen.jpg);
    background-size: cover;
    background-position: center;
}

.gameover {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Bilder/game-over.jpg);
    background-size: cover;
    background-position: center;
}

.start_button {
    position: relative;
    display: flex;
    width: 22vw;
    height: auto;
    top: 74vh;
    left: 64vw;
    border-radius: 48px;
}

.restart_button {
    position: relative;
    display: flex;
    width: 22vw;
    height: auto;
    top: 74vh;
    left: 41vw;
    border-radius: 48px;
}

.anleitung_button {
    position: relative;
    display: flex;
    width:22vw;
    height: auto;
    top: 50vh;
    left: 64vw;
    border-radius: 48px;
}

.start_button:hover {
   -webkit-box-shadow: 4px 5px 16px 0.5px rgba(0,0,0,0.3); 
    box-shadow: 4px 5px 16px 0.5px rgba(0,0,0,0.3);
}

.restart_button:hover {
   -webkit-box-shadow: 4px 5px 16px 0.5px rgba(0,0,0,0.3); 
    box-shadow: 4px 5px 16px 0.5px rgba(0,0,0,0.3);
}

.anleitung_button:hover {
    -webkit-box-shadow: 4px 5px 16px 0.5px rgba(0,0,0,0.3); 
    box-shadow: 4px 5px 16px 0.5px rgba(0,0,0,0.3);
}

.playground {
    position: relative;
    height: 100vh;
    width: auto;
    background-size: cover;
    /* aspect-ratio: inherit; */
    background-image: url(Bilder/Start_V4.jpg);
    background-repeat: no-repeat;
    background-position-x: center;

}

.score {
    position: fixed;
    right: 0;
    top: 84vh;
    width: 18vw;
    height: 4vh;
    background-image: url(Bilder/Punkteanzeige.png);
    display: grid;
    align-items: center;
    justify-items: center;
}

.punkte {
    position: relative;
    width: 70%;
    font-family: 'Pilsner', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 24pt;
    font-weight: 600;
    text-align: right;
}

.score_gameover {
    position: relative;
    font-family: 'Pilsner', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    text-align: center;
    width: 40%;
}

.rand {
    position: absolute;
    /*background-image: url(Bilder/Rand.png);*/
    width: 1.3vw;
    height: 100vh;
}

.rand_links {
    left: 20vw;
}

.rand_rechts {
    right: 20vw;
}

.player {
    position: absolute;
    width: 120px;
    top: 48vh;
    z-index: 2;
}

.playerbody {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 530px;
    background-color: transparent;
    border-radius: 15px;
}

.player_left {
    transform: scaleX(-1);
}

.stein {
    position: absolute;
    width: 35px;
}

.tor1 {
    position: absolute;
    height: 100px;
}

.block_blau {
    position: relative;
    width: 80vw;
    height: 50px;
}

.tor2 {
    position: absolute;
    height: 100px;
}

.block_rot {
    position: relative;
    height: 50px;
}

.stern {
    position: absolute;
    width: 40px;
}

.snowflake {
    position: absolute;
    height: 15px;
}

.ziel {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 70vw;
    left: 15vw;
}

.ziellinie {
    position: absolute;
    width: 70vw;
    height: auto;
    left: 15vw;
}