.playground {
    position: relative;
    width: 400px;
    height: 400px;
    background-image: url(Bilder/Background.jpg);
    background-size: contain;
}

.player {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
}